

<html> <head> <style type="text/css">{  }

body {
  background-image: url("")
}

A { color: blue; 
 text-decoration: none;
 font-size: 11pt;
font-family: arial, helvetica, sans-serif;
 }

A:hover { color: black; }

#shadow {
    border: 2px solid #000000;
    padding: 10px;
    box-shadow: 5px 10px #000000;
}
#shadow_narrow {
    border: 1px solid #000000;
    padding: 2px;
/*    box-shadow: 1px 1px #000000;*/
}

P { 
    color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

TD { 
    color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm;
text-align:justify;
}

.deadlines td {
    padding-right:10px;
}

LI { 
    color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

P.dir { 
    color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.6cm
}

H1 { color: black; 
 text-decoration: none;
 font-size: 30pt;
font-family: arial, helvetica, sans-serif;
}

H2 { color: black; 
 text-decoration: none;
 font-size: 21pt;
font-family: arial, helvetica, sans-serif;
}

H3 { 
    color: #000000; 
 text-decoration: none;
 font-size: 13pt;
 font-family: arial, helvetica, sans-serif;
 padding : 5px;
/* background-color: #ffffff;*/
 font-weight: bold;
 line-height: 0.7cm;

}


ul li {
/*     background: #ffffff; */
    list-style-type: disc;
    font-size: 14pt;
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 25px; 
    color: #000000;     
}

TD.myphoto { width: 150px; }
TD.articles { width: 350px; }

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 8px;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}
                

-->

</STYLE>

</HEAD>

</HTML>
